<main>
  <button class="button" [cdkMenuTriggerFor]="menu">Open menu</button>

  <ng-template #menu>
    <div class="menu" cdkMenu>
      <button class="menu-item" cdkMenuItem (click)="log('refresh')">
        Refresh
      </button>
      <button class="menu-item" cdkMenuItem (click)="log('settings')">
        Settings
      </button>
      <button class="menu-item" cdkMenuItem (click)="log('help')">Help</button>
      <button class="menu-item" cdkMenuItem (click)="log('sign out')">
        Sign out
      </button>
    </div>
  </ng-template>
</main>
